.resume {
  width: 100%;
  &Form {
    padding: 4rem 1rem;
    background-color: white;
    user-select: none;
  }
  &Result {
    background-color: gray;
  }

  &Affix {
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 0;
    height: calc(100vh - 60px);
  }
}
